.headName{
    width: 100%;
    height: 100px;
    background-color: #d3d3d3;
}
#Book-shop{
    font-size: 40px;
}
body a{
    text-decoration: none;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    color: #000;
}


* {
    margin: 0;/*清除外边距*/
    padding: 0;/*清除内边距*/
}

li {
    list-style: none;/*清除默认小圆点*/
}

#rightSidebar{
    margin-left: 50%;
    width: 700px;
}

#rightSidebar>ul>li{
    color: #fff;
    float: left;
    width: 200px;
}


.mainBook>ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;

}
.mainBook>ul>li{
    width: 20%;
    height: auto;
    list-style: none;
    float: left;
    margin: 10px 15px;
    background-color: transparent;
    box-shadow: 0 0 3px;
}

.linkFont{
    text-align: center;
}


#sidebar>ul>li{
    position:relative;/*定位，父类*/
    width: 230px;
    color: #fff;/*文本颜色*/
}

#sidebar>ul>li>a{
    display: block;
    padding: 12px 5px 12px 35px;
    /*边框线 粗细 样式*/
    border-left: 3px solid transprent;//颜色透明 dotted 为点状,solid为线状
}
.search{
    position: static;
    text-align: center;
    /*background-color: blue;*/
}
.search input{
    margin: 80px 0 50px 0;
    width: 500px;
    height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: xx-large;
}
.search button{
    margin-top: -15px;
    margin-left: -5px;
}
.turnPage{
    margin-top: 20px;
    margin-left: 60px;
}
.tail{
    margin-left: 60px;
}
.newsletter{
    margin: 20px 0 20px 50px;
}
.tail a{
    color: blue;
}
#menu{
    position: absolute;
}
#us{
    position: absolute;
}