.headName a{
    padding-top: 50px;
    padding-left: 10px;
    float: left;
}
.headName{
    width: 100%;
    height: 150px;
    font-size: 40px;
    background-color: #d3d3d3;
}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.headName i{
    margin-left: 28%;
}

#left{
    margin-top: 50px;
    /*margin-left: 50px;*/
    margin-right: 50%;
    background-color: darkgray;
    text-align: center;
}

#right{
    background-color: cornflowerblue;
    /*display: block;*/

    width: 50%;
    margin-left: 50%;
    margin-top: 50px;
    text-align: center;
}
#share ul li{
    float: left;
    margin-left: 50px;
}
#share ul{
    margin-left: 820px;
}
.tail ul li a{
    color: blue;
    /*margin-top: 500px;*/
}
.tail ul {
    margin-top: 550px;
}