.headName a{
    padding-top: 50px;
    padding-left: 10px;
    float: left;
}
.headName{
    width: 100%;
    height: 150px;
    font-size: 40px;
    background-color: #d3d3d3;
}

a{
    text-decoration: none;
    color: black;
}
.name{
    margin-left: 4%;
    margin-right: 85%;
    text-align: center;
}
li{
    list-style: none;
}
.headName i{
    margin-left: 28%;
}
.tail a{
    color: blue;
}
.orderForm ul li{
    margin-top: 20px;
}
.turnPage{
    margin-left: 7%;
}