.headName a{
    padding-top: 50px;
    padding-left: 10px;
    float: left;
}
.headName{
    width: 100%;
    height: 150px;
    font-size: 40px;
    background-color: #d3d3d3;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}
.headName i{
    margin-left: 28%;
}
.tail a{
    color: blue;
}
.turnPage a{
    color: cornflowerblue;
}
.turnPage{
    margin-top: 20px;
    margin-left: 15%;
    /*color: cornflowerblue;*/
}
.orderTable{
    margin-top: 20px;
}
input{
    text-align: center;
}
img{
    width: 100px;
    height: auto;
}
.first{
    width: 200px;
    text-align: center;
}
.second{
    width: 300px;
    text-align: center;
    font-size: larger;

}
.third{
    text-align: center;
    color: darkgray;
}
.forth{
    width: 200px;
    text-align: center;
}
.fifth{
    text-align: center;
    color: red;
}
.sixth{
    width: 100px;
    text-align: center;
    background-color: red;
}

table{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-collapse: collapse;
}
table tr{
    background-color: lightgray;
    border-bottom: 1px solid darkgray;
}
#titleTr{
    height: 50px;
    color: gray;
}